.body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.nav-box {
  height: 200px;
  background-color: rgb(46, 44, 44);
  position: absolute;
  width: 100%;
  top: 0%;
  z-index: -2;
}

p {
  position: absolute;
  top: 70%;
}

.nav-box-text {
  color: white;
  font-family: "Alata", sans-serif;
  font-size: 50px;
  position: relative;
  top: 55%;
  display: flex;
  justify-content: center;
  text-decoration-line: underline;
}

.barbers {
  position: absolute;
  top: 50%;
  left: 15%;
  right: 15%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
}

.barber-1 {
  position: relative;
  max-width: 300px;
  margin-bottom: 150px;
  left: 15%;
}
.barber-2 {
  position: relative;
  max-width: 300px;
  left: 15%;
}

.b1-name {
  position: absolute;
  top: 2%;
  left: 50%;
  font-family: "Alata", sans-serif;
  font-size: 50px;
}

.b2-name {
  position: absolute;
  top: 63%;
  left: 50%;
  font-family: "Alata", sans-serif;
  font-size: 50px;
}

@media screen and (max-width: 1500px) {
  .nav-service {
    height: 150px;
  }
  .about-us {
    font-size: 40px;
  }
}

.b1-p {
  position: absolute;
  top: 12%;
  left: 50%;
  font-family: "Alata", sans-serif;
  font-size: 20px;
  max-width: 450px;
}

.b2-p {
  position: absolute;
  top: 72%;
  left: 50%;
  font-family: "Alata", sans-serif;
  font-size: 20px;
  max-width: 450px;
}

.history {
  position: relative;
  top: 1150px;
  display: flex;
  align-content: space-around;
  justify-content: center;
}

.history-h {
  font-family: "Alata", sans-serif;
  font-size: 50px;
  text-decoration-line: underline;
}

.history-p {
  margin-top: 40px;
  font-family: "Alata", sans-serif;
  font-size: 20px;
  max-width: 1000px;
  text-align: justify;
}

.about-gallery {
  position: relative;
  top: 1600px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  align-content: center;

  justify-content: center;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
