@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

/* .cover {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -1;
} */

body {
  color: #202020;
  overflow-x: hidden;
}

.header-img {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100vh;
  background: url("../Media/pexels-bri-schneiter-346529.jpg");
  background-size: cover;
  z-index: -1;
}

.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-main {
  max-width: 18vw;
  margin: 3vw;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}

.cover-h2 {
  /* position: absolute;
  left: 10%;
  top: 35%; */

  font-family: Montserrat;
  font-weight: 600;
  line-height: 10vh;
  color: rgb(253, 250, 250);
  font-size: 3vw;
  width: 35rem;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* .cover-p {
  position: absolute;
  left: 10%;
  top: 60%;
  font-family: "Alata", sans-serif;
  color: rgb(224, 224, 224);
  margin: 10px 0px;
  font-size: 20px;
  max-width: 400px;
} */

.appoint-button {
  /* position: absolute;
  top: 71%;
  left: 10%; */
  margin-top: 5vh;
  background-color: #f4f4f4;
  font-size: 1.2vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  width: 12vw;
  height: 3.5vw;
  border-radius: 10px;
  /* text-shadow: 0px 2px rgba(77, 77, 77, 0.5); */
  /* box-shadow: 0px 6px rgba(77, 77, 77, 1); */
  cursor: pointer;
}
.appoint-button:hover {
  transform: scale(1.05);
}

.appoint-button:active {
  text-shadow: 0px 2px rgba(77, 77, 77, 0.5);
  box-shadow: 0px 0px rgba(77, 77, 77, 1);
  transform: translateY(6px);
}

.quotes {
  font-family: "Baskervville", serif;
  font-size: 1.5vw;
  font-weight: lighter;
  line-height: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vw;
}

.beard-icon {
  width: 6vw;
  margin-bottom: 6vw;
}

.qoute-1 {
  max-width: 50vw;
}

.qoute-line {
  margin-top: 6vw;
  height: 5px;
  width: 100%;
  border-radius: 10px;
  background-color: #1e1e1e;
}

.header-cover-1 {
  margin-top: 12vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
  position: relative;
}

#button-2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header-img-1 {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  * {
    overflow-x: hidden;
  }
  .logo-main {
    max-width: 40vw;
  }
  .cover-h2 {
    font-size: 5vw;
    width: 40rem;
    line-height: 8vh;
  }
  .appoint-button {
    border-radius: 5px;
    width: 18vw;
    height: 7vw;
    font-size: 2.5vw;
  }
  .quotes {
    font-size: 3vw;
    line-height: 45px;
    margin-top: 12vw;
  }
  .beard-icon {
    width: 12vw;
  }
  .qoute-1 {
    max-width: 90vw;
  }
  .qoute-line {
    margin-top: 12vw;
    height: 3px;
  }
}

@media screen and (max-width: 500px) {
  * {
    overflow-x: hidden;
  }
  .header-img {
    height: 90vh;
  }
  .logo-main {
    max-width: 50vw;
  }
  .cover-h2 {
    font-size: 8vw;
    width: 20rem;
    line-height: 6vh;
  }
  .appoint-button {
    border-radius: 5px;
    width: 20vw;
    height: 8vw;
    font-size: 2.5vw;
  }
  .quotes {
    font-size: 3vw;
    line-height: 20px;
    margin-top: 12vw;
  }
  .beard-icon {
    width: 12vw;
  }
  .qoute-1 {
    max-width: 80vw;
  }
  .qoute-line {
    margin-top: 12vw;
    height: 3px;
  }
}
